
<span >
 <div>First name:<%= customer.f_name %></div>
 <div>Last name:<%=  customer.l_name%></div>
 <div>Address:<%= customer.address%></div>
 <div>City:<%= customer.city%></div>
 <div>Country:<%= customer.country%></div>
 <div>Postal Code:<%= customer.postal_code%></div>
 <div>Email:<%= customer.email%></div>
 <div>Province Id:<%= customer.province_id%></div>
<span>
  </br>