<%= form_for @customer do |a_form| %>
<div id="form">
<span>
<%= a_form.label :f_name %>
</br>
<%= a_form.text_field :f_name %>
</span>
</br>

<span>
<%= a_form.label :l_name %>
</br>
<%= a_form.text_field :l_name %>
</span>
</br>

<span>
<%= a_form.label :address %>
</br>
<%= a_form.text_field :address %>
</span>
</br>
<span>
<%= a_form.label :city %>
</br>
<%= a_form.text_field :city %>
</span>
</br>
<span>
<%= a_form.label :country %>
</br>
<%= a_form.text_field :country %>
</span>
</br>
<span>
<%= a_form.label :postal_code %>
</br>
<%= a_form.text_field :postal_code %>
</span>
</br>
<span>
<%= a_form.label :email %>
</br>
<%= a_form.text_field :email %>
</span>
</br>
<!--
<span>
<%= a_form.label :province_id %>
</br>
</span>
<%= a_form.number_field :province_id %>
</span>-->

<%= a_form.label :province_id %><br />
   <%= a_form.collection_select :province_id, @province, :id, :prov_name %>
</br>


<%= a_form.submit %>

</div>
  
   



<% end %>