<span >

  

<div>Status:<%= order.status %></div>
<div>Pst Rate:<%=  order.pst_rate %></div>
<div>Gst Rate:<%=  order.gst_rate%></div>
<div>Hst Rate:<%=  order.hst_rate %></div>
<div>Customer Id:<%=  order.customer_id %></div>

  
</span>

