<%= form_for @item do |a_form| %>
<div>
<%= a_form.label :name %><br>
<%= a_form.text_field :name %>
</div>
<div>
<%= a_form.label :description %><br>
<%= a_form.text_field :description %>
</div>
<% end %>