<span id ="an_item">

 

 <%= link_to 'add to cart', add_to_cart_path(item), method: :post %> 

<% if products_to_add.include?(item) %>
  <%= link_to 'remove from cart', remove_from_cart_path(item), method: :delete %>
<% end %>


<h2 id = "the_title"><%= link_to item.name , item%></h2>
<%= image_tag item.picture.medium.url %></br>
Description:<%= item.description %>
<br/>
Stock Level:<%=  item.quantity_on_hand %>
<br/>
Price:<%= number_to_currency item.price %>
<br/>


<!--Category:<%= item.category_id%>-->
<!--<p>
  <%= link_to "Edit", edit_item_path(item) %>
  <%= link_to "Delete", item, method: 'delete' %>-->
  
</span>

