<div class = "item">

<h2><%= link_to item.name , item%></h2>
<div><%= image_tag item.picture.medium.url %></p>

<div>Category:<%= item.category %></div>
<div>Description:<%= item.description %></div>
<div>Stock Level:<%=  item.quantity_on_hand %>
<div>New Product:<%=  item.is_new %>
<div>Sale Product:<%=  item.is_on_sale %>
<div>Product has been updated:<%=  item.is_upgrade %>
<div>Price:<%= number_to_currency item.price %>

<!--<p>
  <%= link_to "Edit", edit_item_path(item) %>
  <%= link_to "Delete", item, method: 'delete' %>-->
  
</p>
</div>