<span id ="about">

  
<!--<h2 id = "the_title"><%= link_to item.name , item%></h2>
<%= image_tag item.picture.medium.url %></br>-->
<%= about.title%>
</br>
<%=  about.about_text%>

<!--Category:<%= item.category_id%>-->
<!--<p>
  <%= link_to "Edit", edit_item_path(item) %>
  <%= link_to "Delete", item, method: 'delete' %>-->
  
</span>

