<!--<%= form_for @item do |a_form| %>

<span>
<%= a_form.label :name %>
<%= a_form.text_field :name %>
</span>
<span>
<%= a_form.label :description %>
<%= a_form.text_field :description %>
</span>
<span>
<%= a_form.label :category_id %>
<%= a_form.text_field :category_id %>
</span>

<% end %>-->