<h1>Products For Small Animals</h1>
<header>
  <nav>
    <div id = "links">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Cats', cats_path %></li>
      <li><%= link_to 'Dogs', dogs_path %></li>
      <li><%= link_to 'Birds', birds_path %></li>
      <li><%= link_to 'Small Animals', small_animals_path %></li>
      <li><%= link_to 'On Sale', sale_path %></li>
      <li><%= link_to 'New Products', new_path %></li>
     
    </ul>
    </div>
  </nav>
</header>
<%= render @items %>
