

<DOCTYPE! html > 
 <html>
   <head> 
   
   <title> The Pampered Pet</title> 
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> 
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
  <%= csrf_meta_tags %> 
    
 </head> 
 
 
 <body> 
   <div id="container"> 
   <!--<div id = "catdog"> <%= image_tag "dogcat.jpg" %> </div>-->
  <h1>The Pampered Pet</h1> 
   
   
 <header> 
   <nav>
    <div id = "links">
     <ul> 
       <li><a><%= link_to 'Home', root_path %>,</a></li> 
       <li><%= link_to 'Cats', cats_path %></li> 
       <li><%= link_to 'Dogs', dogs_path %></li> 
       <li><%= link_to 'Birds', birds_path %></li> 
       <li><%= link_to 'Small Animals', small_animals_path %></li> 
       <li><%= link_to 'On Sale', sale_path %></li> 
       <li><%= link_to 'New Products', new_path %></li>
       <li><%= link_to 'About', about_path %></li> 
       <li><%= link_to 'Contact', contact_path %></li> 
    </div>
   </nav>
   <div id = "category_search" >
   <p>Search For Products By Category</p>
   <%= form_tag found_items_path do %>
   <%= select_tag :category_id,options_for_select([['Dogs',1], ['Cats',2], ['Small Animals', 3], ['Birds', 5]]) %>
   <%= text_field_tag :search_words %>
   <%= submit_tag "Search" %>
 <% end %>
   </div>
 
 <div id = "search">
<p>Search All Products</p>
<%= form_tag found_all_items_path do %>

 <%= text_field_tag :search_words %>
  <%= submit_tag 'Search' %>
<% end %>
</div>
</br>
</br>
</br>
</br>

 
 <!--</header> 
       
     </ul> 
   </nav> 
 </header> -->
     <!--  <div id="container"> -->
   <!-- <div id = "catdog"> <%= image_tag "dogcat.jpg" %> </div> 
     
  <h1>The Pampered Pet</h1> 
  <div id = "catanddog"> <%= image_tag "dogcat.jpg" %> </div> --> 
 <%= yield %> 
 
 
   </div> 
 
 
 </body> 
 </html> 
 

 
 
 
 
 
 
 



